jython/DispatcherSystem/timetable_template/node_red_flow.json
[
    {
        "id": "80af4ab4f3cca797",
        "type": "tab",
        "label": "My_Station",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "63e194696922cce9",
        "type": "http response",
        "z": "80af4ab4f3cca797",
        "name": "http/My_Station",
        "statusCode": "",
        "headers": {},
        "x": 840,
        "y": 120,
        "wires": []
    },
    {
        "id": "41ae07231d3089c0",
        "type": "http in",
        "z": "80af4ab4f3cca797",
        "name": "",
        "url": "/My_Station",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "d2e14181afb4e4ea",
                "1b102177add69f41"
            ]
        ]
    },
    {
        "id": "5817cafa17e8c57a",
        "type": "mqtt in",
        "z": "80af4ab4f3cca797",
        "name": "",
        "topic": "jmri/timetable",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "cafe9d5b.d4035",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 360,
        "wires": [
            [
                "25b7cee966e2cec6",
                "eba58c911f3c1110"
            ]
        ]
    },
    {
        "id": "25b7cee966e2cec6",
        "type": "debug",
        "z": "80af4ab4f3cca797",
        "name": "mqtt message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 420,
        "wires": []
    },
    {
        "id": "eba58c911f3c1110",
        "type": "function",
        "z": "80af4ab4f3cca797",
        "name": "Generate Clock and Schedule Table",
        "func": "var station_to_be_displayed = \"My_Station\"\n\nvar type = msg.payload[0].type\n// var train_name = msg.payload[0].train_name\n// var station_name = msg.payload[0].station_name\n// var station_departure_time = msg.payload[0].station_departure_hour\n// var last_station = msg.payload[0].last_station\n// var last_station_arrival_time = msg.payload[0].last_station_arrival_time\n// var via = msg.payload[0].via\n\n/* Variable for content in the text field\n of the timetable \"yes\" or \"no\" */\nvar FPtext = \"yes\";\nvar cancel = \"cancelled\";\nvar delayminute = \" Minute delayed!\";\nvar delayminutes = \" Minutes delayed!\";\nvar max_no_entries = 10000;\nvar FPlength = 0;\n\n/* If you want scrolling text set run to \"yes\" */\nvar run = \"yes\";\n\n// /* set following flow context (global) variables */\n// flow.set(\"cancel\",cancel);\n// flow.set(\"station\", station_to_be_displayed);\n// flow.set(\"delayminute\",delayminute);\n// flow.set(\"delayminutes\",delayminutes);\n// flow.set(\"max_no_entries\", max_no_entries);\n// flow.set(\"FPtext\",FPtext);\n\nvar stationRR = \"\";\n\n\n/* Clock */\nif (type == \"clock\") {\n\n    var time = msg.payload[0].time\n\n    msg.payload = ({ \"time\": time });\n    return msg;\n}\n\n\n\n/* Schedule table */\nvar list = []\n\nvar station = flow.get(\"station\") || \"\";\n\n\nif (type == \"schedule\" ){\n \n    \n    var jObj = msg.payload\n    var all_entries = Object.keys(jObj).length;\n    console.log(\"all entries\" + all_entries)\n    var count = 0;\n    for (var i = 0; i < all_entries; i++) {\n        var station_name = msg.payload[i].station_name\n        if (station_to_be_displayed == station_name) {\n            count = count + 1;\n        }\n        // console.log(count);\n    }\n    console.log(count);\n    if (max_no_entries < count) {\n        var no_entries = max_no_entries\n    } else {\n        var no_entries = count\n    }\n    console.log(\"no_entries\" + no_entries)\n    list = []\n    // var j = 0\n    var j = 0\n    for (var i = 0; i < all_entries; i++) {\n        var station_name = msg.payload[i].station_name\n        console.log(\"j = \" + j + \" station_name = \" + station_name)\n        if (station_to_be_displayed == station_name){\n            console.log(\"j2 = \" + j + \" station_name = \" + station_name)\n            var train_name = msg.payload[i].train_name\n            // var station_name = msg.payload[i].station_name\n            var station_departure_time = msg.payload[i].station_departure_hour\n            var last_station = msg.payload[i].last_station\n            var last_station_arrival_time = msg.payload[i].last_station_arrival_time\n            var via = msg.payload[i].via\n\n            var arrival_time = station_departure_time\n            var des = last_station\n\n            // set unused variables\n            var track = \"\"     //platform\n            var notice = \"\"\n            var delay = \"\"\n            var cancel = \"\"\n            var remark = \"\"\n\n            list[j] = ({ point: \"*\", ptime: station_departure_time, atime: arrival_time, \n            train: train_name, via: via, des: des, track: track, notice: notice, delay: delay, cancel: cancel, remark: remark });\n            j++;\n        }\n        if (j > count) {\n            break;\n        }\n    }\n    msg.payload = list;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 360,
        "wires": [
            [
                "4fe6c64fb645ad55",
                "668c0c61a95766cc"
            ]
        ]
    },
    {
        "id": "4fe6c64fb645ad55",
        "type": "debug",
        "z": "80af4ab4f3cca797",
        "name": "schedule list and clock",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 420,
        "wires": []
    },
    {
        "id": "668c0c61a95766cc",
        "type": "websocket out",
        "z": "80af4ab4f3cca797",
        "name": "[ws] /ws/My_Station",
        "server": "e95e7f3c1d3b3123",
        "client": "",
        "x": 1000,
        "y": 360,
        "wires": []
    },
    {
        "id": "e60a3a69e25bd9da",
        "type": "template",
        "z": "80af4ab4f3cca797",
        "name": "Template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!doctype html>\n<html>\n  <head>\n      <style>\n              {{{payload.style}}}\n      </style>\n    <meta charset=\"utf-8\">\n    <title>Timetable</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/my_station\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"My_Station\",\"ws/My_Station\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                console.log(msg);\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(\"output\", data);                \n                obj = JSON.parse(data);\n                console.log(obj);\n                var tag = Object.keys(obj);\n                if( tag == \"time\") {\n                   //get time\n                   obj = obj.time;\n                   document.getElementById('time').innerHTML = obj;\n                }\n                if( tag == \"fault\") {\n                   //get fault\n                   obj = obj.fault;\n                   document.getElementById('fault').innerHTML = obj;\n                }\n                if(typeof(obj) == \"object\") {\n                    if(obj instanceof Array) {\n                    //console.log(obj.length);\n                    var pointer = obj.length;\n                    var list = document.getElementById('list');\n                    if(list.hasChildNodes()) {\n                        var len = document.getElementById(\"list\").childNodes.length;\n                        for (var i = 0; i < len; i++) {\n                            list.removeChild(list.firstChild);\n                        }\n                    }\n                    var i = 0;\n                    while( i < pointer ) {\n                        /* Start ceate Row for Display */\n                        row = document.createElement(\"tr\"); //Create line\n                        cell = document.createElement(\"td\"); // Create line\n                        /* Here the point will be created as a svg generated point */\n                        if( obj[i].point == \"*\") {\n                        svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');\n                        circle = document.createElementNS('http://www.w3.org/2000/svg', 'circle');\n                        circle.setAttribute('cx',\"7\"); // Position x\n                        circle.setAttribute('cy',\"7\"); // Position y\n                        circle.setAttribute('r',\"7\"); // Radius\n                        circle.setAttribute('fill',\"#00ff00\"); // Fill Colour\n                        svg.appendChild(circle);\n                        svg.setAttribute('width', '14px');  // Witch svg\n                        svg.setAttribute('height', '14px');  // Height svg\n                        svg.setAttribute('viewBox', '0 0 14 14'); // visible size svg\n                        cell.appendChild(svg);\n                        } else {\n                            text = document.createTextNode(\"\");\n                            cell.appendChild(text);\n                        }\n                        row.appendChild(cell);\n                        \n                        /* Create end point */\n                        cell = document.createElement(\"td\"); //\n                        text = document.createTextNode(obj[i].ptime); // Set planned arrival time\n                        cell.appendChild(text); // Set planned arrival time\n                        cell.setAttribute(\"class\",\"time\"); // class set planned arrival time\n                        \n                        row.appendChild(cell); // Bind cell to row\n                        \n                        cell = document.createElement(\"td\"); // Generate cell cells\n                        text = document.createTextNode(obj[i].train); // Set train number\n                        cell.appendChild(text); // Set train number\n                        cell.setAttribute(\"class\",\"train\"); // class Set train number\n                        \n                        row.appendChild(cell); // Bind cell to row\n                        \n                        cell = document.createElement(\"td\"); // Create cell\n                        text = document.createTextNode(obj[i].des); // set the destination\n                        cell.appendChild(text); // set the destination\n                        cell.setAttribute(\"class\",\"des\"); // class set the destination\n                        \n                        row.appendChild(cell); // Bind cell to row\n                        \n                        cell = document.createElement(\"td\"); // Create cell\n                        text = document.createTextNode(obj[i].via); // Set via\n                        cell.appendChild(text); // Set via\n                        cell.setAttribute(\"class\",\"via\"); // class Set via\n\n                        row.appendChild(cell); // Bind cell to row\n                                               \n                        row.setAttribute(\"id\",\"row\"); // Set id of the line\n                        list.appendChild(row); // Bind row to table body\n                        /* End generate*/\n                        i++;\n                    }\n                    }\n                }\n            }\n            ws.onopen = function() {         \n                console.log(\"connected\");\n            }\n            ws.onclose = function() {                                                          \n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n    </script>\n</head>\n<body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n<!-- From this point you may customise the template -->\n<table class=\"head\">\n    <colgroup>\n    {{!-- gap --}}\n    <col width=\"30\"> \n    {{!-- departure and Station   --}}\n    <col width=\"300\">\n    {{!-- clock --}}\n    <col width=\"50\">\n    {{!-- logo --}}\n    <col width=\"70\">\n    {{!-- gap --}}\n    <col width=\"30\">\n\n    <tr class=\"trhead\">\n        {{!-- gap before Text --}}\n        <th></th>    \n        {{!-- Departures and Station --}}\n        <th class=\"head1\">\n            Departures:    My_Station\n        </th>\n        {{!-- clock --}}\n        <th class=\"head3\" id=\"time\">\n            {{ atime }}                               \n        </th>\n        {{!-- British Rail logo --}}\n        <th style = \"text-align: right\" class=\"head4\">\n        {{!-- <th class=\"head4\"> --}}\n           <img src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABQAAAAMhCAMAAACAGuxsAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABwlBMVEX/QgD/Swz/iWD/mnf/aDP/Rgb/gVX/zbv//v7/////08T/e03/YCj/rZH/9vP/28//iF7/RAP/TA3/jmb/3tL/5t3/lG//SAj/uqL/+/r/7uj/oYD/ThD/VBj/6eH/9fH/VRn/+vj/XSX/Xib/p4j/8u7//v3/x7P/aTT/3ND/s5n/+ff/QwH/Uxf/6OD/3tP/RgX/QwL/dET/SQr/8ez/8Ov/TxL/287/Vx3/+Pb/+/n/YCn/597/bDj/wKr//fz/XCP/RQT/Rwf/SQn/+PX/7+n/TxH/TQ//4db/9fL/VRr//Pv/Xyf/Vhv/7+r/aTX/ZjH/9/T/2s3/TA7/39T/5Nv/bjz/7ef/6uP/WB7/8+//Yiv/bTr/59//8u3/Vxz/azf/XST/1cb/4NX/6uL/3dH/Uhb/1MX/ZzL/6+T/5dz/9PD/UBP/tJr/tpz/c0L/l3P/qoz/qIr/xbH/Sgv/ajb/7Ob/7OX/cT//cUD/ckH/dEP/lG7/ZS//flH/uaH/ZjD/Yyz/2cz/WR//WiD/URT/1cf/WyL/UhX/49n/2Mr/4df/Yy3/ZC7/5Nr/18n/WiH/bjv/bDn/YSr/1sj/4tgmFQdIAAAAAWJLR0QJ8dml7AAAAAd0SU1FB+EIDgQrKIWvozoAABOhSURBVHja7d0Jd9RVnsfhZioLRVFYUFqpUGyBgjTFYiqAshkwyNoKArIIAtKtKOBMd88wMBszGEBBlNFpfb9z0hFISC3/Omf6nOF3n+ctfOVzynP/ufc3vwEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACA1C34u1xa+mwOPNM/MLgwn5JFBaMDzy0uLkkqga+VlhodeGZZ+fWkEvhGZcjowHN91eGUEri8tsLmwHMrc6tSSuDq4hqbA88tLSR1IDJSXWtz4IV19fUJJXDD6G9NDrywoLzRVzFAsvoam5JK4GaTAy9syW1NKIFvlsZMDrzQHB9N6EBka2WbyYFZ1ta3p5PAHbW3LA7MMlR6O50ELinutDgwW19jVzIJ3F3dY3BgthWVvQl9GPiOwYHZmuMT+3wVA6Rqf31HMgncWHrX4MBskwOLkkng3soBgwNz9DXeSyWBB2uH7A3Mcbh8JJUEHi0eszcwR3N84nfJfBXzvr2BuT6oHU/mq5gT5gbm6h8YdF0WkKwPGycTSeApj8gBLztd/iiRBJ7xiBwwz9lUDkTO1Q5bG3jJmtz5NBK4urjS2sBL+gcSeUruZPFjawMve79+IYkEDlcvGht42bLy60kkcOHoJ8YG5umrDrsuC0jVytyqJBL4uuuygPmWFtI4ELnkETmghXX1yykk8LhH5IAWhkobU0jgkuIVWwPzpfGU3O7qYlMD823JXUriuqxPTQ3M1xwfTeFAxHVZQEtX69sTSOBrrssCWhka+H0CCXzDdVlAS0k8Jbe8tsLSQAsrKntTuC5rjaWBFprjE/vCJ3CkutbSQCv76zsS+Crmt4YGWplM4Sk5X8UAbfQl8JSc67KANg6X/xA+gW+WxgwNtNIcj/+U3FbXZQFtHKsdjJ7AHa7LAtroj38gsqS4085Aa3uK0Q9Edlf3mBlo7XT5zfAfBr5jZqCNsxPDvooBUrUm91nwBG70iBzQTv9A9Kfk9lYOmBlo4/36+tgJPFg7ZGWgjWXlz2Mn8GjxmJWBdvqqsQ9EdlffNzLQzsrcquBfxZwwMtBOsxD8QMR1WUAHa+uXQyfwlEfkgPaGSq+FTuAZj8gBHfQ1dkVO4LnaYRsDbV3LXYqcwNXFlTYG2gr+lNzJ4sc2Btq7Wt8eOIHD1YsmBtqbHPgicAIXjn5iYqCDvsZ7rssCUrWi8kbgBL7uuiygk9gHIpc8Igd09EHteNwEHnddFtDRZOSn5JYUr1gY6OTLRtyn5HZXFxsY6ORw+Q+Br8v61MBAJ5vHJ37nuiwgVcdy18Mm8DXXZQGd9Qc+ELnhuiygi8XFJVETuLy2wr5AR6fLb8a9LmuNfYHOzk4MB03gSHWteYHO1uQ+C/tVTJ95gc6Wxn1KzlcxQFfv19e7LgtI1bLy50ET+GZpzLxAF33VoAciW12XBXS1Jbc1ZgJ31N6yLtBFc3w05oHIkuJO6wLdrK1fDnpd1h7jAt0MlV4L+mHgO8YFuupr7PJVDJCqa7lLIRO40SNyQHdRn5LbWzlgXKCr/fUdERN40HVZQAaTA4siJvBo8Zhtge76Gu+F/CpmnWmB7lZU3gj5VcwJ0wLdNWM+Jee6LCCTD2rHAybwlEfkgCwmQz4ld8YjckAmXzZOxkvgudphywIZHC5/FC+BN+tfWRbI4mzAA5GTxY8NC2RxLHc+XAKHqxcNC2TRPxDvKbmFo58YFshkcXGJ67KAVJ0uvx4ugZ+7LgvIKOBTcpc8IgdktDL3WbQEHq8dsiuQydJCuAORJcUrdgWyWVdfH+66rMVmBbJZVt4Y7rqsT80KZNTX2OS6LCBVW3JbgyXwNddlAVk1x0eDHYjccF0WkNna+vZYCVzuETkgs6HS27ESuLq4xqpAVn2NXaESOFJda1QgqxWVvcG+iukzKpBVc3xin69igFTtr+9wXRaQqsmBRaES+GZpzKhAZn2N9yIlcKvrsoAeHC4fiZTAHbW3bApk1hwP9ZTckuJOmwLZfVA7Huq6rD0mBbLrHxgM9WHgOyYFevBh46SvYoBUnS5/FCiBGz0iB/TkbKQDkb2VAxYFerAmdz5OAg+6LgvoSf9AoKfkjhaPWRToxeLikkBfxawzKNCLZeXXA30Vc8KgQE/6qsOuywJStTK3KkwCT3lEDujN0kKcA5EzHpEDerSufjlKAs/VDtsT6MlQaWOUBN6sf2VPoDd9jU1BEniy+LE5gd5syW0NksDh6kVzAr1pjo8GORBZOPqJOYEeXa1vd10WkKqhgd8HSeDnrssCetbX2BUjgZc8Igf0bEVlb4wEHq8dsibQo+b4xL4QCVxS/MCatHMiB639fZAbs0b+wZYv+aPy/epPeSAxf1Y+AQQBFEBAAAUQEEABBARQAAEBFEBAAAUQEEABBARQAAEBFEBAAAUQEEABBARQAAEBFEBAAAUQEEABBARQAAEBFEBAAAUQEEABBARQAAEBFEBAAAUQEEABBARQAAEBFEBAAAUQEEABBARQAEEAEUAQQAEEBFAAAQEUQEAABRAQQAEEBFAAAQEUQEAABRAQQAEEBFAAAQEUQEAABRAQQAEEBFAAAQEUQEAABRAQQAEEBFAAAQEUQEAABRAQQAEEBFAAAQEUQEAABRAQQAEEBFAAAQEUQEAABRAEEAEEARRAQAAFEBBAAQQEUAABARRAQAAFEBBAAQQEUAABARRAQAAFEBBAAQQEUAABARRAQAAFEBBAAQQEUAABARRAQAAFEBBAAQQEUAABARRAQAAFEBBAAQQEUAABARRAQAAFEBBAAQQBVD4BBAEUQEAABRAQQAEEBFAAAQEUQEAAAxo6BC3t/MeTIf6xL/ynE8Z8yQHlg05uVc7F+LEzeMKYgPwByB+A/AHIH4D8AfInf4D8yR8gf/IHyJ/8AfInf4D8yR8gf/IHyJ/8AfInf4D8yR8gf/IHyN//Tf7+2ZiA/AHIH4D8AczJ3235A+RP/gD5kz9A/uQPkD/5A+RP/gD5kz9A/uQPkD/5A/4/2yZ/gPy92vn71JiA/AHIH4D8AcgfgPwB8id/gPzJHyB/8gfENFmWP0D+5A9IKX935A+QP/kD5E/+APl7JSz6F2MC8gcgfwDyBxAyf/9qTED+AOQPQP4A5A9A/gD5kz9A/uQPkD/5A2Lqlz9A/l7t/P2bMQH5A5A/APkDmJO/6/IHyJ/8AfInf4D8yR8gf/IHyJ/8AfInf4D8yR8gf/IHyJ/8AfL3N8vfH40JyB+A/AHIH4D8AcgfIH/yB8if/AHyJ3+A/MkfIH/yB7z6+Tsvf4D8yR8gf/IHyN+rkb9/NyYgfwDyByB/APIHIH+A/MkfIH/yB8if/AHyJ3+A/MkfIH/yB8if/AGvUP5Kb8gfIH/yB8jfK5e/cWMC8gcgfwDR81cwJiB/APIHIH8A8gcgf0CixuQPSDV/N+QPkD/5A+RP/gD5kz9A/uQPkD/5A+RP/gD5kz9A/uQPkD/5A+Tvb+UL+QPkD0D+AOQPQP4A5A+QP/kD5E/+gBTyd0b+APmTP4hr3QBz/cfWGPnb3bAlbdxVvl/9KQ8k5s/KJ4AggAIICKAAAgIogIAACiAggAIICKAAAgIogIAACiAggAIICKAAAgIogIAACiAggAIICKAAAgIogIAACiAggAIICKAAAgIogIAACiAggAIICKAAAgIogIAACiAggAIICKAAAgIogIAACiAIIAIIAiiAgAAKICCAAggIoAACAiiAgAAKICCAAggIoAACAiiAgAAKICCAAggIoAACAiiAgAAKICCAAggIoAACAiiAgAAKICCAAggIoAACAiiAgAAKICCAAggIoAACAiiAgAAKICCAAggIoACCACKAIIACCAigAAICKICAAAogIIACCAigAAICKICAAAogIIACCAigAAICKICAAAogIIACCAigAAICKICAAAogIIACCAigAAICKICAAAogIIACCAigAAICKICAAAogIIACCAigAAICKIAggMongCCAAggIoAACAiiAgAAKICCAAggIYEBb+pjrPxfF+G9803/90Zi0dkX5aOvs6MIYCazeMybQq6+rwzF+Bk6VD1gT6NH94nsxEniw/sCaQI8e1i7HSOCGwYGl5gR6s6ByPsih343cQ3MCvekvHQmSwJGJT8wJ9KZZ+CbKt19T5W32BHoT5auYfP5C8VtzAr25W/1dPsyByLv2BHrybXFXlP8Tvl57ZE+gJ9dqF/JhDkTG7Qn0ZFnlTpg/hj9VvmVQoBeTpcdhEnizcdGgQC+ahe/CJHChAxGgR2dH41wLd6fuXiSgJ19W94VJ4G4HIkBvrhZH4vwMfFJZYFGgBytrq+MkcHXje4sCPXhY2x7okYip0phJgexuVVYFSuC5+k6TAtmNlf4QKIH7Rsc32xTIbHPhi0AJzD/OHbIpkF2c67KmHW3cNSmQ3Q9hrsv69ebUIZsCmT2I8ojcjOX1+zYFMntUWx8pgRsGCw5EgMyWVa5HSmD+ae4rowJZ9ZeehErgpuqHRgWyahb+O1QC81PlA1YFsop0Xda0C8UfjQpkdS/QdVkzByIDS60KZLS/uCnWz8AbuYdWBTLaUrsZK4EjEz9ZFcjodOV2PtqByDazAtlMlp4GS+DNxh6zAtk0C1PBErjBU3JAZmcHgyUwf732yKxAxgSGui5rmqfkgMy+rg5H+xn4dvmWXYFM7se6Lmva6sZFuwKZPKxdjpbA/CIHIkA2CyqfhUvg7foVwwJZ9JeOhEvg7glPyQGZNAvfhEtg/kllgWWBLOJ9FTP9lNz3hgWyuBvrEblf/1C4NGZZIINvi7viJfBc/WPLAhlcq12Il8B9ow5EgCyWVe7ES2D+ce4t0wLdTZYeB0zgksZd0wLdNQvfBUxgfqo8ZFugu2iPyM1YXr9vWqC7L4M9Ivfs5tSCAxGgu6vFkYg/A8/kvrIt0NXKaI/Izdg08T+2Bbo6nNseMYH5qfIB4wLd3KqsCpnAC8UfjQt0M1b6KGQCNwwOLLUu0MXmwhchE5i/kXtoXaCbiNdlTRvxlBzQ3Q8Rr8uaORDZZl2giwfxHpGbcbPxF+sCXTyqrY+ZwA2DnpIDullQuR4zgfk7tWvmBTrrLz0JmsDdDkSAbpqFn4MmMH+kcsu+QGcxr8uatrrxtXmBzu6FvC7rrxYNjNkX6Gh/cVPUBN6u77Qv0NGWiI/IPT8QcXMq0NHpyu2oCcz/kjtkYKCTydLTsAk82vjBwEAnzcJU2ATmp0pjFgY6OTsYN4Hn6h8bGOiYwKDXZf31D4VHHYgAHX1dHY77M/Bx7i0LAx3cj3pd1rRN1XsWBjp4WLscN4GekgM6W1D5LHACD9YfmBhor790JHACNwwWHIgA7TUL3wROYP5M7isbA+1F/ipm+im5T0wMtHc36iNyzw5EPCUHtPdjcVfkBF4ofmtjoK1rca/LmjkQGVhqZKCdZZU7kROYv157ZGSgnf7S49AJHPGUHNBes/Bd6ATmT5U9JQe0FfcRuRk3G38xMtDOl3EfkfurhYMD71oZaONq3EfkZtypf2BloI2VtZuxE7jbgQjQ1uHc9tgJzD+pLDAz0NqtyqrgCVzd+NrMQGtjpY+CJzC/aGDMzkBLmwtfRE/g7fpOOwOtxb4ua9o+T8kB7fwQ+7qsab/kDtkZaOlB5EfkZhxt/GBnoKVHtfXRE5ifKo0ZGmhlQeV8+AQur983NNBKf+lJ+AR6Sg5oo1n4OXwC809zb1kaaCX6dVnTNlXvGRpo5V7w67JmDkTKBywNtLA/+nVZ0w7WH1gaaGFL7Efknh2IeEoOaOV05Xb8BOZv5B6aGphvsvQ0gQSOTPxkamC+ZmEqgQTmp8rbbA3Ml8JXMfn8heK3pgZaJXBhAgnc4Ck5oJWvq8Mp/Ay8Xntka2Ce+/Gvy5o5EPGUHDDfw9rlFBKYP1W+ZWzgZQsqnyWRwJuNi8YGXtZfOpJEAhc6EAHmaxa+SSKB+Tv1K9YGXpbGVzH5/G4HIsB8d+M/IjfjSWWBtYGX/FjclUYCVze+tzbwkmsJPCL36x8Ke0oOeNmyyp1EEniuvtPcwFz9pV8SSeC+0XFPyQFzNQvfJZLA/OPcIXsDc6VxXda0o4275gbm+jKFR+Se3Zw6ZG9gjqspPCI3Y3n9vr2BOVbWbqaSwA2DBQciwBynK+dSSWD+ae4rgwOz3aqsSiaBm6ofGhyYbaz0UTIJzE+VD1gcmGVz4Yt0Enih+KPFgdlSuS5r5kBkYKnFgVm+T+W6rGk3cg8tDszyII1H5GaMTPxkcWCWR4k8IvfsQGSbyYEXFlTOJ5TAm409Jgde6C89SSiBGzwlB8zWLPycUALz12uPbA68kM51WdM8JQfMcS+d67KmvV2+ZXPguW/TuS5r2urGRZsDz22pXUgpgflFDkSAF05XbieVwNv1K0YHnpksPU0qgbsnPCUHPPfuh31pWWFzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZvwvAxDvXEpNRzwAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTctMDgtMTRUMDQ6NDM6NDArMDA6MDBai1cjAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE3LTA4LTE0VDA0OjQzOjQwKzAwOjAwK9bvnwAAAABJRU5ErkJggg==\" width=\"100\" height=\"62\"> \n        </th>\n\n    </tr>\n</table>\n<table class=head>\n  <colgroup>\n    <col width=\"10\">\n    <col width=\"32\">\n    <col width=\"38\">\n    <col width=\"62\">\n    <col width=\"140\">\n  </colgroup>\n    <tr class=\"trhead\">\n        <th></th>\n        <th class=\"it\">Time</th>\n        <th class=\"it\">Train</th>\n        <th class=\"it\">Destination</th>\n        <th class=\"it\">Via</th>\n    </tr>\n</table>\n<table class=\"list\">\n    <colgroup>\n    <col width=\"10\">\n    <col width=\"30\">\n    <col width=\"40\">\n    <col width=\"60\">\n    <col width=\"140\">\n  </colgroup>\n<tbody id=\"list\"></tbody>\n</table>\n<table class=\"foot\">\n    <tr class=\"foot\">\n        <td class=\"foot\" id=\"fault\">\n          {{ fault }}\n        </td>\n    </tr>\n</table>\n</body>\n</html>\n",
        "output": "str",
        "x": 600,
        "y": 120,
        "wires": [
            [
                "63e194696922cce9"
            ]
        ]
    },
    {
        "id": "d2e14181afb4e4ea",
        "type": "template",
        "z": "80af4ab4f3cca797",
        "name": "Stylesheet",
        "field": "payload.style",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": ":root {\n/* Here are the colors defined for the output\nThe background and font color can be adjusted */\n/*background colour */\n--background: #006;\n/*Font Colour */\n--fontcolor: #fff;\n/* Font */\n--fontart: arial;\n//color: #fff;\n/* Backround Colour of List: Odd lines */\n--backgroundfirst: #006;\n/* Font Colour of List: Odd lines */\n--fontfirst: #fff;\n/* Backround Colour of List: Even lines */\n--backgroundsec: #309;\n/* Font Colour of List: Even lines */\n--fontsec: #fff;\n/* Background Colour of Faults */\n--backgroundfault: #ff0;\n/* Font Colour of Faults */\n--fontfault: #006;\n}\nbody {\n\n/* defines the font size to the total aspect ratio */\nfont-size: 1em;\nbackground-color: var(--background);\ncolor: var(--fontcolor);\npadding:0 0 0 0;\n}\n\n/* Arrival */\n.head1 {font-size: 2.5em}\n/* Departure*/\n.head2 {font-style: italic; font-size: 1.5em}\n/* Time */\n.head3 {font-size: 2.0em; text-align: left}\n/* Logo */\n.head4 { font-size: 2.0em; text-align: left; color: var(--fontcolor)}\n.it {font-style: italic; font-size: 1.3em; text-align: left}\n/* backgroung colour of the header and footer */\ntd.head {background-: var(--background)}\ntd.foot {background-color: var(--background)}\n\ntable.head {\ntable-layout:fixed;\noverflow: hidden;\nwidth: 100%;\nheight: 50%;\nfont-family: var(--fontart);\nborder: 0px;\nborder-color: #fff;\nborder-spacing: 0;\nmargin:0;\npadding: 0;\n}\ntable.list {\ntable-layout:fixed;\noverflow: hidden;\nwidth: 100%;\nheight: 100%;\nfont-family: var(--fontart);\nborder: 0px;\nborder-spacing: 0;\nmargin:0;\npadding: 0;\n}\np { padding: 0; margin: 0;\n}\ntable.foot {\ntable-layout:fixed;\noverflow: hidden;\nbackground-color: var(--background);\nwidth: 100%;\nheight: 100%;\nfont-family: var(--fontart);\nborder: 0px;\nborder-spacing: 0;\nmargin:0;\npadding: 0;\n}\n\ndiv.run {\nbackground-color: var(--backgroundfault);\nwhite-space: nowrap;\noverflow: hidden;\n}\nspan.fault2 {\n/*display:block;*/\nmargin-left:100%;\nfont-size: 2em;\ncolor: var(--fontfault);\npadding: 0px;\n/*height: 2em;*/\n/*width: 100%;*/\n-webkit-animation: textrun 25s linear infinite;\nanimation: textrun 25s linear infinite;\n}\n@-webkit-keyframes textrun {\n0% { transform: translate(0%, 0);}\n100% { margin-left:-100%;transform: translate(-100%, 0);}\n}\n\n@keyframes textrun {\n0% { transform: translate(0, 0);}\n100% { margin-left:-100%; transform: translate(-100%, 0); }\n}\nspan.fault1 {\nfont-size: 2em;\ncolor: var(--fontfault);\nbackground-color: var(--backgroundfault);\npadding: 0px;\n/*height: 2em;*/\n/*width: 100%;*/\n}\nth {\nbackground-color: var(--background);\ncolor: var(--fontcolor);\nfont-size: 1.3em;\ntext-align: left;\nmargin:0;\npadding: 0 0 0 0;\nheight: 1.5em;\n/*border-bottom: 0px solid #ffffff;*/\n}\n/* Background color default of a line */\ntr {\nbackground-color: var(--background);\ncolor: var(--fontcolor);\n/* Zeilenhöhe */\nheight : 2em;\n}\n/* Background color of odd rows */\ntr:nth-child(even) {\nbackground-color: var(--backgroundfirst);\ncolor: var(--fontfirst);\n/* Zeilenhöhe */\nheight : 2em;\n}\n/* Background color of even rows */\ntr:nth-child(odd) {\nbackground-color: var(--backgroundsec);\ncolor: var(--fontsec);\n/* Zeilenhöhe */\nheight : 2em;\n}\n/* Formatting the individual cells/fields of the list */\n.point {color: --fontcolor; text-align: center; position: absolut;}\n.time {text-align: left; font-size: 1.5em}\n.train {padding-left: 10px; font-size: 1.3em}\n.des {text-align: left; font-size: 1.5em; height: 2em}\n.via {padding-left: 10px}\n.track {padding-left: 10px; text-align: center; font-size: 1.3em}\n.notice {padding-left: 10px}\n#cancel {font-size: 14px; font-style: italic}\n#cancel::first-line {font-style: normal}\n\n/* Important ! NO changes in following */\n\ndiv.skalierender-svg-container {\ndisplay: table-cell;\nposition: relative;\nwidth: 100px;\npadding-bottom: 60%; /*override this inline for aspect ratio other than square */\n}\n.skalierendes-svg {\nposition: absolute;\nheight: 100%;\nwidth: 100%;\nleft: 0;\ntop: 0;\n}",
        "output": "str",
        "x": 402,
        "y": 120,
        "wires": [
            [
                "e60a3a69e25bd9da"
            ]
        ]
    },
    {
        "id": "1b102177add69f41",
        "type": "debug",
        "z": "80af4ab4f3cca797",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 180,
        "wires": []
    },
    {
        "id": "c172bafe67363541",
        "type": "comment",
        "z": "80af4ab4f3cca797",
        "name": "generate Web Page",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "ec7f9368b47d5b5d",
        "type": "comment",
        "z": "80af4ab4f3cca797",
        "name": "Import from mqtt, extract variables, send to websocket, which has the name of the station",
        "info": "",
        "x": 410,
        "y": 260,
        "wires": []
    },
    {
        "id": "e29792d9467485df",
        "type": "comment",
        "z": "80af4ab4f3cca797",
        "name": "Open the Websocket out node. Ensure the path corresponds to the name of the node",
        "info": "",
        "x": 970,
        "y": 320,
        "wires": []
    },
    {
        "id": "cafe9d5b.d4035",
        "type": "mqtt-broker",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "e95e7f3c1d3b3123",
        "type": "websocket-listener",
        "path": "/ws/My_Station",
        "wholemsg": "false"
    }
]